<% if logged_in? %>
  <div class="row">
      <div class="col-md-8">
        <h3>Followings</h3>
        <% if @fuser.any? %>
          <%= paginate @fuser %>
          <ol class="followings-followers">
            <% @fuser.each do |f_user| %>
              <li id="following_user-<%= f_user.id %>">
                <%= render 'followings_followers', f_user: f_user %>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
  </div>
<% else %>
  <div class="center jumbotron">
      <h1>Welcome to the Microposts</h1>
      
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>